html{font-family: Sans-serif; background-color: #EEE}          
      
          #left-bar {
                float:left;
                width:25%;
           
            }
          
          #left-bar ul{
            font-size: 11px;
          	list-style-type: none;
          }
          
          #left-bar li{
            margin-bottom:3px;
          }
          
          #left-bar img{
            width:20px;
          }

          .root-item {
            font-weight: bold;
            color: #7b1606;
          } 
            
           #center-container{
            padding:2px;
            background-color: #FFF;
            float:left;
            width: 48%;
            border: 2px groove #CCC;
          }
            
            #right-table{  	
                float:right;
                width: 25%;
            }
          
          	#right-table td p{
              margin-bottom: 4px;
			  margin-top: 0px;
              background-color:#8E8184;
              color: #FFF;
            }
            
            #right-table td {
            	border: 2px groove #CCC;
             	text-align:center;
                margin:2px;
            }
          
          #center-container button{
            width:20%;
            margin-right: 1%;
          }
          
          #center-container p,a{
            font-size:12px;
          }
          
          #center-container h3{

              font-size:14px;
              background-color:#8E8184;
              color: #FFF;
          }

          	.button-img {
            	border:1px groove #AAA  ;
                text-align:center;
                width: 30px;  	
          }
          
          .bordered {
            padding: 1%;
            border-top: 3px groove;
            border-bottom: 3px groove;
            margin-top:1%;
            margin-bottom: 5%;
          }
            