<div class="container">
    <div class="row" >
        <div class="col-md-8 jumbotron">
            <h2>Your Borrows</h2>
            <% var i=1; _.each(comics, function(comic){ %>
            <div class="row">
                <div class="col-md-8 table">
                    <div class="page-header media-heading">
                        <div class="row panel panel-heading">
                            <div class="col-md-3 thumbnail">
                                <img src="<%= comic.img%>" style="width: 100px;" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= comic.description%>">
                            </div>
                            <div class="col-md-8">
                                <h3><%= comic.tittle%></h3>
                                <br>
                                <span><%= comic.genre%></span>
                                <h6>Borrow Date: 10/03/2015</h6>
                                <span>Qualification: <strong><%= comic.qualification%></strong>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        
                                </span>
                              
                                
                            </div>
                        </div>
                        <h4><small class="pull-right">3 comments</small>Comments </h4>
                    </div>

                    <div class="comments-list">
                        <div class="media panel panel-default" >
                            <div class="panel-body">
                                <p class="pull-right"><small>3 days ago</small></p>
                                <a class="media-left" href="#">
                                    <img src="http://lorempixel.com/40/40/people/1/">
                                </a>
                                <div class="media-body">

                                    <h4 class="media-heading user_name">Green Figther</h4>
                                    Wow! this is really great.

                                    <p><small><a href="http://cdni.wired.co.uk/1920x1280/k_n/Like.jpg">Like</a> - <a href="https://www.facebook.com/">Share</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media panel panel-default">
                            <div class="panel-body">
                                <p class="pull-right"><small>5 days ago</small></p>
                                <a class="media-left" href="#">
                                    <img src="http://lorempixel.com/40/40/people/2/">
                                </a>
                                <div class="media-body">

                                    <h4 class="media-heading user_name">Baltej Xi</h4>
                                    Wow! this is really great.

                                    <p><small><a href="http://cdni.wired.co.uk/1920x1280/k_n/Like.jpg">Like</a> - <a href="https://www.facebook.com/">Share</a></small></p>
                                </div>
                            </div>
                        </div>
                        <div class="media panel panel-default">
                            <div class="panel-body">

                                <p class="pull-right"><small>6 days ago</small></p>
                                <a class="media-left" href="#">
                                    <img src="http://lorempixel.com/40/40/people/3/">
                                </a>
                                <div class="media-body">

                                    <h4 class="media-heading user_name">Rodrigo</h4>
                                    Not bad....

                                    <p><small><a href="http://cdni.wired.co.uk/1920x1280/k_n/Like.jpg">Like</a> - <a href="https://www.facebook.com/">Share</a></small></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="media panel panel-default">
                            <div class="panel-body">
                                <a class="media-left" href="#">
                                    <img src="<%= user%>" style='width: 50px'>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading user_name">Me</h4>
                                    <textarea id="textarea<%= i%>" class="form-control" rows="3"></textarea>
                                    <br>
                                    <button type="button" id="comment<%= i%>" class="btn btn-default btn-primary">Coment</button>
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
            <% i +=1 }); i =0  %>






        </div>
    </div>
</div>