<div class="container">
    <div class="row">
        <div class="col-md-8 border-black">
            <div class="panel-group" id="genres-accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#genres-accordion" href="#collapseOne1">
                                <span class="glyphicon glyphicon-screenshot">
                                </span> Action</a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">

                                <!--foreach Action--->
                                <% _.each(comics, function(comic){ if(comic.get('genre')=="Action"){%> 
                                <tr>
                                    <td>
                                        <img src="<%= comic.get('img')%>"/> <span><%= comic.get('tittle')%></span> 
                                    </td>
                                </tr>
                                <% }}); %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#genres-accordion" href="#collapseTwo1"><span class="glyphicon glyphicon-eye-open">
                                </span>Horror</a>
                        </h4>
                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">

                                <% _.each(comics, function(comic){ if(comic.get('genre')=="Horror"){%>                              
                                <tr>
                                    <td>
                                        <img src="<%= comic.get('img')%>"/> <span><%= comic.get('tittle')%></span> 
                                    </td>
                                </tr>
                                <% }}); %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#genres-accordion" href="#collapseThree1"><span class="glyphicon glyphicon-camera">
                                </span> Sci-Fi</a>
                        </h4>
                    </div>
                    <div id="collapseThree1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">

                                <% _.each(comics, function(comic){ if(comic.get('genre')=="Sci-Fi"){%> 
                                <tr>
                                    <td>
                                        <img src="<%= comic.get('img')%>"/> <span><%= comic.get('tittle')%></span> 
                                    </td>
                                </tr>
                                <% }}); %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#genres-accordion" href="#collapseFour"><span class="glyphicon glyphicon-piggy-bank">
                                </span> Comedy</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">

                                <% _.each(comics, function(comic){ if(comic.get('genre')=="Comedy"){%> 
                                <tr>
                                    <td>
                                        <img src="<%= comic.get('img')%>"/> <span><%= comic.get('tittle')%></span> 
                                    </td>
                                </tr>
                                <% }}); %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#genres-accordion" href="#collapseFive"><span class="glyphicon glyphicon-play-circle">
                                </span> Sport</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">

                                <% _.each(comics, function(comic){ if(comic.get('genre')=="Sport"){%> 
                                <tr>
                                    <td>
                                        <img src="<%= comic.get('img')%>"/> <span><%= comic.get('tittle')%></span> 
                                    </td>
                                </tr>
                                <% }}); %>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>