 <div id="container" class="container">
                <div id='header' class="container">
                </div>
                <div id="navbar">
                </div>

                <!--page and sidebar share the same row -->
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-8 column">
                            <div id="message"></div>
                            <div id="page">
                            </div>
                        </div>
                        <div class="col-md-4 column">
                            <div id="sidebar"> 
                               
                            </div>
                        </div>
                    </div>
                </div>
</div>